<a href="https://colab.research.google.com/github/alaa-shehab/Ikea-Sofas-EDA/blob/main/Notebooks/Final_cleaned_documented.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importing Used Libraries

In [ ]:
import pandas as pd
import numpy as np

C:\Users\Sara Alzahaby\AppData\Local\Temp\ipykernel_17012\2162656668.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

### Step 1: Data Preparation

In [ ]:
# read the dataset, add type column and insert type of sofa in it.

df1 = pd.read_csv("chaiselongue/chaise_data.csv")
df1['type'] = 'chaise longue'
df1 = df1[['name', 'type', 'details', 'price', 'material', 'others']]

df2 = pd.read_csv("modular/df_molar_data.csv")
df2['type'] = 'modular'
df2 = df2[['name', 'type', 'details', 'price', 'material', 'others']]

df3 = pd.read_csv("sofabed/sofa_bed_data.csv")
df3['type'] = 'sofa bed'
df3 = df3[['name', 'type', 'details', 'price', 'material', 'others']]

df4 = pd.read_csv("leather/leather.csv")
df4['type'] = 'leather'
df4 = df4[['name', 'type', 'details', 'price', 'material', 'others']]

df5 = pd.read_csv("fabrics/fabric_final.csv")

concated = pd.concat([df1,df2,df3,df4,df5],ignore_index=True)
concated.shape

(2512, 6)

In [ ]:
# dropped value named firm in column price because it is not a number.
concated[concated.index==915]
concated = concated.drop(index = 915)

In [ ]:
# number of price column data
concated.info()

In [ ]:
# check the price data and change the data type into float
concated[concated.index==1654]
concated['price'] = concated['price'].astype(str).str.replace(',', '')
concated['price'] = concated['price'].astype(float)

In [ ]:
# check after replace
concated[concated.index==1654]

,name,type,details,price,material,others
1654,LANDSKRONA,leather,"5-seat sofa, with chaise longues/Grann/Bomstad...",88485.0,Medium firm,NaN

In [ ]:
concated.shape

(2511, 6)

In [ ]:
# check the missing values (nulls)
concated[concated['price'].isnull()]

                               name     type details  price material others
845   2-seat section, Inseros white  modular  21,995    NaN      NaN    NaN
1777                            NaN   fabric     NaN    NaN      NaN    NaN

In [ ]:
# drop the columns with missing values
concated.dropna(subset = ['name', 'price', 'details'], inplace=True)

In [ ]:
# check the if there is still null values
concated.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2509 entries, 0 to 2511
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      2509 non-null   object
 1   type      2509 non-null   object
 2   details   2509 non-null   object
 3   price     2509 non-null   float64
 4   material  1666 non-null   object
 5   others    971 non-null    object
dtypes: float64(1), object(5)
memory usage: 137.2+ KB

In [ ]:
# check the duplicated rows
concated.duplicated().sum()

636

In [ ]:
# check the duplicated rows
data = concated[concated.duplicated(keep='first')]
# data = data.sort_index()
# data[data.index==51]
data

,name,type,details,price,material,others
51,JÄTTEBO,chaise longue,"Chaise longue module, right, with armrest/Sams...",34395.0,NaN,NaN
53,KIVIK,chaise longue,"Chaise longue, Kelinge grey-turquoise",18295.0,NaN,NaN
54,KIVIK,chaise longue,"Chaise longue, Tibbleby beige/grey",17995.0,NaN,NaN
55,KIVIK,chaise longue,"Chaise longue, Tresund anthracite",19895.0,NaN,NaN
56,VIMLE,chaise longue,"Chaise longue, with wide armrests/Gunnared beige",33300.0,NaN,NaN
...,...,...,...,...,...,...
1718,LANDSKRONA,leather,"4-seat sofa, with chaise longue/Grann/Bomstad ...",55990.0,Medium firm,NaN
1719,LANDSKRONA,leather,"4-seat sofa, with chaise longue/Grann/Bomstad ...",59990.0,Medium firm,NaN
1720,LANDSKRONA,leather,"4-seat sofa, with chaise longue/Grann/Bomstad ...",59990.0,Medium firm,NaN
1721,LANDSKRONA,leather,"3-seat sofa, with chaise longue/Grann/Bomstad ...",58990.0,Medium firm,NaN
1722,LANDSKRONA,leather,"3-seat sofa, with chaise longue/Grann/Bomstad ...",54990.0,Medium firm,NaN

In [ ]:
# drop the duplicates in all rows except "type" column which have key values for checking duplication with keeping the first row
concated.drop_duplicates(subset=['name', 'details', 'price', 'material', 'others'], keep = 'first', inplace = True)

In [ ]:
concated.shape

(1325, 6)

In [ ]:
# save the cleaned concatenated dataset
concated.to_csv("concatenated.csv")

In [ ]:
# use the concatenated dataset
data = concated

In [ ]:
data.shape

(1325, 6)

In [ ]:
# show first 5 rows
data.head()

,name,type,details,price,material,others
0,JÄTTEBO,chaise longue,"Chaise longue module, right, with armrest/Sams...",33995.0,NaN,NaN
1,KIVIK,chaise longue,"Chaise longue, Tresund light beige",19895.0,NaN,NaN
2,VIMLE,chaise longue,"Chaise longue, with wide armrests/Saxemara bla...",30800.0,NaN,NaN
3,JÄTTEBO,chaise longue,"Chaise longue module, left, with armrest/Samsa...",33995.0,NaN,NaN
4,LANDSKRONA,chaise longue,"Chaise longue, add-on unit, Gunnared light gre...",21995.0,NaN,NaN

In [ ]:
# check the columns' names
data.columns

Index(['name', 'type', 'details', 'price', 'material', 'others'], dtype='object')

In [ ]:
# fill the missing values
data = data.replace({np.nan: None})

In [ ]:
# check the data types, uniqueness and missing values
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1325 entries, 0 to 2511
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      1325 non-null   object
 1   type      1325 non-null   object
 2   details   1325 non-null   object
 3   price     1325 non-null   float64
 4   material  933 non-null    object
 5   others    476 non-null    object
dtypes: float64(1), object(5)
memory usage: 72.5+ KB

In [ ]:
data

,name,type,details,price,material,others
0,JÄTTEBO,chaise longue,"Chaise longue module, right, with armrest/Sams...",33995.0,None,None
1,KIVIK,chaise longue,"Chaise longue, Tresund light beige",19895.0,None,None
2,VIMLE,chaise longue,"Chaise longue, with wide armrests/Saxemara bla...",30800.0,None,None
3,JÄTTEBO,chaise longue,"Chaise longue module, left, with armrest/Samsa...",33995.0,None,None
4,LANDSKRONA,chaise longue,"Chaise longue, add-on unit, Gunnared light gre...",21995.0,None,None
...,...,...,...,...,...,...
2507,GRÖNLID,fabric,"Corner sofa, 5-seat w chaise longue, Sporda da...",106485.0,Extra soft,None
2508,GRÖNLID,fabric,"Corner sofa, 5-seat w chaise longue, Sporda na...",106485.0,Extra soft,None
2509,GRÖNLID,fabric,"Corner sofa, 5-seat w chaise longue, Ljungen l...",102785.0,Extra soft,None
2510,SÖDERHAMN,fabric,"2-seat sofa with chaise longue, Fridtuna dark ...",44990.0,Extra soft,None
2511,SÖDERHAMN,fabric,"2-seat sofa, with chaise longue/Viarp beige/brown",42990.0,Extra soft,None

In [ ]:
# if the details does not contain sofa drop the row
data['details'] = data['details'].str.lower()

# create a list of reference words
reference = ["sofa","bed","chaise","longue","seat","section"]

# check the rows that doesn't contain the reference words before dropping them
false_rows = data[~data['details'].apply(lambda i: any(word in i for word in reference))]

# filtering the rows that doesn't contain the reference words
data = data[data['details'].apply(lambda i: any(word in i for word in reference ))].reset_index(drop=True)

data = data[["name", "type", "details", "price", "material", "others"]]

In [ ]:
# 1325 rows
data

,name,type,details,price,material,others
0,JÄTTEBO,chaise longue,"chaise longue module, right, with armrest/sams...",33995.0,None,None
1,KIVIK,chaise longue,"chaise longue, tresund light beige",19895.0,None,None
2,VIMLE,chaise longue,"chaise longue, with wide armrests/saxemara bla...",30800.0,None,None
3,JÄTTEBO,chaise longue,"chaise longue module, left, with armrest/samsa...",33995.0,None,None
4,LANDSKRONA,chaise longue,"chaise longue, add-on unit, gunnared light gre...",21995.0,None,None
...,...,...,...,...,...,...
1256,GRÖNLID,fabric,"corner sofa, 5-seat w chaise longue, sporda da...",106485.0,Extra soft,None
1257,GRÖNLID,fabric,"corner sofa, 5-seat w chaise longue, sporda na...",106485.0,Extra soft,None
1258,GRÖNLID,fabric,"corner sofa, 5-seat w chaise longue, ljungen l...",102785.0,Extra soft,None
1259,SÖDERHAMN,fabric,"2-seat sofa with chaise longue, fridtuna dark ...",44990.0,Extra soft,None
1260,SÖDERHAMN,fabric,"2-seat sofa, with chaise longue/viarp beige/brown",42990.0,Extra soft,None

In [ ]:
# create a dictionary of words and numbers
word_dict = {"1":1, "2":2, "3":3, "4":4, "5":5, "6":6, "7":7, "8":8, "one":1, "two":2, "three":3, "four":4, "five":5, "six":6, "seven":7, "eight":8}

# create a new column number of seats (default domain = 2)
data['number_of_seats'] = data['details'].apply(lambda i: next((word_dict[word] for word in word_dict if word in i) , 2))

# change the data type of number of seats into integer
data['number_of_seats'] = data['number_of_seats'].astype(int)

# if the type is chaise longue set the number of seats to 1
data.loc[data['type'] == 'chaise longue', 'number_of_seats'] = 1

In [ ]:
data

,name,type,details,price,material,others,number_of_seats
0,JÄTTEBO,chaise longue,"chaise longue module, right, with armrest/sams...",33995.0,None,None,1
1,KIVIK,chaise longue,"chaise longue, tresund light beige",19895.0,None,None,1
2,VIMLE,chaise longue,"chaise longue, with wide armrests/saxemara bla...",30800.0,None,None,1
3,JÄTTEBO,chaise longue,"chaise longue module, left, with armrest/samsa...",33995.0,None,None,1
4,LANDSKRONA,chaise longue,"chaise longue, add-on unit, gunnared light gre...",21995.0,None,None,1
...,...,...,...,...,...,...,...
1256,GRÖNLID,fabric,"corner sofa, 5-seat w chaise longue, sporda da...",106485.0,Extra soft,None,5
1257,GRÖNLID,fabric,"corner sofa, 5-seat w chaise longue, sporda na...",106485.0,Extra soft,None,5
1258,GRÖNLID,fabric,"corner sofa, 5-seat w chaise longue, ljungen l...",102785.0,Extra soft,None,5
1259,SÖDERHAMN,fabric,"2-seat sofa with chaise longue, fridtuna dark ...",44990.0,Extra soft,None,2
1260,SÖDERHAMN,fabric,"2-seat sofa, with chaise longue/viarp beige/brown",42990.0,Extra soft,None,2

In [ ]:
# ensure chaise longue has 1 number of seats.
data[data.index==16]

,name,type,details,price,material,others,number_of_seats
16,JÄTTEBO,chaise longue,"chaise longue module, right, with armrest/sams...",34395.0,None,None,1

In [ ]:
# create a new column color from the resource details

colours = ["red","brown","white","beige","grey","black","blue","yellow","green","anthracite","turquoise","bamboo","multicolour"]

data['colour'] = data['details'].apply(lambda i: next((word for word in colours if word in i) , "natural colour"))

data.loc[data['colour'] == "anthracite", 'colour'] = "black"

In [ ]:
data

,name,type,details,price,material,others,number_of_seats,colour
0,JÄTTEBO,chaise longue,"chaise longue module, right, with armrest/sams...",33995.0,None,None,1,beige
1,KIVIK,chaise longue,"chaise longue, tresund light beige",19895.0,None,None,1,beige
2,VIMLE,chaise longue,"chaise longue, with wide armrests/saxemara bla...",30800.0,None,None,1,black
3,JÄTTEBO,chaise longue,"chaise longue module, left, with armrest/samsa...",33995.0,None,None,1,beige
4,LANDSKRONA,chaise longue,"chaise longue, add-on unit, gunnared light gre...",21995.0,None,None,1,red
...,...,...,...,...,...,...,...,...
1256,GRÖNLID,fabric,"corner sofa, 5-seat w chaise longue, sporda da...",106485.0,Extra soft,None,5,grey
1257,GRÖNLID,fabric,"corner sofa, 5-seat w chaise longue, sporda na...",106485.0,Extra soft,None,5,natural colour
1258,GRÖNLID,fabric,"corner sofa, 5-seat w chaise longue, ljungen l...",102785.0,Extra soft,None,5,green
1259,SÖDERHAMN,fabric,"2-seat sofa with chaise longue, fridtuna dark ...",44990.0,Extra soft,None,2,grey
1260,SÖDERHAMN,fabric,"2-seat sofa, with chaise longue/viarp beige/brown",42990.0,Extra soft,None,2,brown

In [ ]:
# changing the data type of price into integer
data['price'] = data['price'].astype(int)

In [ ]:
data

,name,type,details,price,material,others,number_of_seats,colour
0,JÄTTEBO,chaise longue,"chaise longue module, right, with armrest/sams...",33995,None,None,1,beige
1,KIVIK,chaise longue,"chaise longue, tresund light beige",19895,None,None,1,beige
2,VIMLE,chaise longue,"chaise longue, with wide armrests/saxemara bla...",30800,None,None,1,black
3,JÄTTEBO,chaise longue,"chaise longue module, left, with armrest/samsa...",33995,None,None,1,beige
4,LANDSKRONA,chaise longue,"chaise longue, add-on unit, gunnared light gre...",21995,None,None,1,red
...,...,...,...,...,...,...,...,...
1256,GRÖNLID,fabric,"corner sofa, 5-seat w chaise longue, sporda da...",106485,Extra soft,None,5,grey
1257,GRÖNLID,fabric,"corner sofa, 5-seat w chaise longue, sporda na...",106485,Extra soft,None,5,natural colour
1258,GRÖNLID,fabric,"corner sofa, 5-seat w chaise longue, ljungen l...",102785,Extra soft,None,5,green
1259,SÖDERHAMN,fabric,"2-seat sofa with chaise longue, fridtuna dark ...",44990,Extra soft,None,2,grey
1260,SÖDERHAMN,fabric,"2-seat sofa, with chaise longue/viarp beige/brown",42990,Extra soft,None,2,brown

In [ ]:
# flip the values of the others and material if the material not included in the list
# from sklearn.preprocessing import LabelEncoder

# converts values of others  and material to lower case
data['material'] = data['material'].str.lower()
data['others'] = data['others'].str.lower()

# ensure the data type is string
data['others'] = data['others'].astype(str)
data['material'] = data['material'].astype(str)

material_list = ["soft","firm","medium","extra"]

# Checks if any word in the 'material' column is not in the material list. If true, assigns the value to 'material_1'; otherwise, assigns None.
data['material_1'] = data.apply(lambda row: row['material'] if all(word not in material_list for word in row['material'].split()) else None, axis = 1)

# Checks if any word in the 'others' column is in the material list. If true, assigns the value to 'material_2'; otherwise, assigns None.
data['material_2'] = data.apply(lambda row: next((row['others'] for word in material_list if word in row['others']), None), axis=1)

# Replaces the string "None" with actual None values in the 'material_1,2' column.
data['material_1'] = data['material_1'].replace({"None": None})
data['material_2'] = data['material_2'].replace({"None": None})
data['material_1'] = data['material_1'].replace({"none": None})
data['material_2'] = data['material_2'].replace({"none": None})

# Replaces the values in the 'others' column with values from 'material_1' column if they are not None.
data['others'] = data.apply(lambda row: row['material_1'] if row['material_1'] is not None else row['others'], axis = 1)

# Replaces the values in the 'material' column with values from 'material_2' column if they are not None.
data['material'] = data.apply(lambda row: row['material_2'] if row['material_2'] is not None else row['material'], axis = 1)

# Checks if any word in the 'material' column is in the material list. If true, keeps the value; otherwise, assigns None.
data['material'] = data.apply(lambda row: row['material'] if any(word in material_list for word in row['material'].split()) else None, axis = 1)

data.loc[data["others"] != "washable cover", "others"] = "0"
data.loc[data["others"] == "washable cover", "others"] = "1"

# # Initialize LabelEncoder 0,3
# encoder = LabelEncoder()
# data['others'] = encoder.fit_transform(data['others'])

data.rename(columns={'others': 'washable_cover'}, inplace = True)

data = data[["name", "type", "price", "material", "number_of_seats", "colour", "washable_cover"]]

In [ ]:
# fill the missing values in material column with undetermined
data['material'] = data['material'].fillna('undetermined')

C:\Users\Sara Alzahaby\AppData\Local\Temp\ipykernel_17012\2363121978.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['material'] = data['material'].fillna('undetermined')

In [ ]:
data

,name,type,price,material,number_of_seats,colour,washable_cover
0,JÄTTEBO,chaise longue,33995,undetermined,1,beige,0
1,KIVIK,chaise longue,19895,undetermined,1,beige,0
2,VIMLE,chaise longue,30800,undetermined,1,black,0
3,JÄTTEBO,chaise longue,33995,undetermined,1,beige,0
4,LANDSKRONA,chaise longue,21995,undetermined,1,red,0
...,...,...,...,...,...,...,...
1256,GRÖNLID,fabric,106485,extra soft,5,grey,0
1257,GRÖNLID,fabric,106485,extra soft,5,natural colour,0
1258,GRÖNLID,fabric,102785,extra soft,5,green,0
1259,SÖDERHAMN,fabric,44990,extra soft,2,grey,0
1260,SÖDERHAMN,fabric,42990,extra soft,2,brown,0

In [ ]:
data.to_csv("final_cleaned.csv", index = False)